<!DOCTYPE HTML>
<html>
<head>
    <title>Keyboard Websocket Tool Test Ground</title>
    <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/hardkeyboard.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            hardkeyboard = new HardKeyboard({
              textbox: '#text'
            })
        });
    </script>
</head>
<body>
    <h1>Keyboard Websocket Tool Test Ground</h1>
    <h2 id="text"></h2>
</body>
</html>
