<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('key_event', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received ' + msg.type + ': ' + msg.data).html());
                $('#log').scrollTop($('#log')[0].scrollHeight);
            });

            // event handler for new connections
            socket.on('connect', function() {
                //socket.emit('read_keyboard', {});
            });

            $('#clear').click(function(){
              $('#log').html('');
            });
        });
    </script>

    <style>
      #log {
        height: 300px;
        width: 300px;
        background-color: #EEE;
        overflow-y: scroll;
      }
    </style>
</head>
<body>
    <h1>Keyboard Websocket Tool</h1>
    <span id='clear'>clear</span>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
